@-moz-document url-prefix("https://gitlab.com/EPadronU/my-journey-to-the-core/") {
  .nav-sidebar,
  .tree-content-holder {
      display: none;
  }
  .layout-page {
      padding-left: 0;
  }
  .container-limited.limit-container-width {
      max-width: 1366px;
  }
  .info-well {
      max-width: 100% !important;
  }
  .file-content {
      font-size: 1.2rem !important;
      min-width: 100%;
  }
  li.breadcrumb-item:nth-child(1) > a:nth-child(1) {
      background-color: #1f75cb;
      border-radius: 14px;
      border: 1px solid #292961;
      color: white;
      font-weight: 800;
      padding: 2px 8px;
  }
}
